@use '@/globalScss/_mixins' as *;

.services {
  margin: 0 0 48px;

  &__wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 0 50px;

    @include vp-920 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    @include vp-600 {
      display: flex;
      justify-content: center;
    }
  }

  &__right {
    padding-top: 74px;

    @include vp-920 {
      text-align: center;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0b132a;
  }

  &__descr {
    margin: 0 0 25px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 220px;

    @include vp-920 {
      margin: 0 auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4f5665;
  }

  &__currency {
    padding: 32px;
    background:
      linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%),
      rgba(244, 244, 244, 0.9);
    box-shadow:
      0px 0px 4px rgba(0, 0, 0, 0.08),
      0px 2px 4px rgba(187, 187, 187, 0.2);
    border-radius: 28px;
    display: flex;
    justify-content: space-between;

    @include vp-600 {
      flex-direction: column;
      gap: 25px;
    }
  }

  &__heding {
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    color: #1c1c1e;
  }

  &__curr-text {
    display: block;
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
  }

  &__curr-list {
    margin: 0 0 51px;
    padding: 0;
    max-width: 430px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    @include vp-600 {
      justify-content: center;
    }
  }

  &__code {
    font-weight: 700;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #808080;
    margin-right: 20px;
  }

  &__val {
    font-weight: 700;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #000000;
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__curr-left-inner {
    @include vp-600 {
      text-align: center;
    }
  }

  &__curr-right-inner {
    display: flex;
    flex-direction: column;
    gap: 79px;
    align-items: end;

    @include vp-600 {
      gap: 40px;
      align-items: center;
    }
  }

  &__icon:first-of-type {
    @include vp-600 {
      max-width: 350px;
    }
  }

  &__text-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
  }
}
