.support {
  margin: 0 0 100px;

  &__text {
    display: block;
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 147.4%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #eb801d;
  }

  &__title {
    margin: 0 0 26px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1c1c1e;
  }

  &__text-bottom {
    display: block;
    margin: 0 0 62px;
    font-weight: 500;
    font-size: 30px;
    line-height: 147.4%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1c1c1e;
  }
}
