@use '../global//mixins' as *;

.hero {
  margin: 0 0 112px;

  &__wrap {
    padding-top: 132px;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include vp-1280 {
      flex-direction: column;
    }
    @include vp-920 {
      padding-top: 80px;
    }
  }

  &__left {
    max-width: 613px;
  }

  &__title {
    margin: 0 0 36px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #1c1c1e;

    @include vp-920 {
      font-size: 38px;
    }

    @include vp-500 {
      font-size: 32px;
      line-height: 44px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;

    @include vp-620 {
      justify-content: center;
    }
  }
}
