// Colors

// Typography

$ff-rt-root: 'Ubuntu', 'Arial', sans-serif;

// Viewport

$vp-mobile: 500px;
$vp-mobile-xl: 600px;

$vp-tablet-l: 620px;
$vp-tablet: 920px;

$vp-desctop-m: 1110px;
$vp-desctop-l: 1280px;
$vp-desctop: 1300px;
