.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;

  &__input {
    display: none;

    &:checked + .custom-checkbox__box {
      background-color: #3498db;
    }
  }

  &__box {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    border: 1px solid #808080;
  }

  &__check {
    width: 24px;
    height: 24px;
  }

  &__label {
    font-size: 14px;
    color: #333;
  }
}
