.cashback {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 163px;
    height: 100%;
    padding: 32px;
    flex: 1 1 calc(33.333% - 40px);
    background: #eaecee;
    box-shadow:
      0px 0px 8px rgba(0, 0, 0, 0.08),
      0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;

    &--dark {
      background-color: #b4cdd4;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 147.4%;
    color: #000000;
  }

  &__decr {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.4%;
    color: rgba(67, 67, 67, 0.9);
  }
}
